.index-content{
    padding: 60px 0;
    @include pc{
        padding:0;
    }
}




// swipper
.carousel-inner{
    height: 50vh;
    img{
        object-fit: cover;
        object-position:0% 60%;
        height: 50vh;
    }
    @include pc{
        height: 80vh;
        img{
            height: 80vh;
        }
    }
}
// 

.index-content-wrap{
    padding:50px;
    ul{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 50px;
        @include ipad-pro{
            justify-content: space-around;
        }
        li{
            width: 100%;
            display: flex;
            flex-direction: column;
            border: 1px rgb(227, 217, 217) solid;
            height: 355px;
            margin-bottom: 20px;
            @include ipad-pro{
                width: 45%;
            }
            @include pc{
                height: 500px;
                width: 24%;
                margin-bottom: 20px;
                margin-left: 5px;
                margin-right: 5px;
            }
            a{
                display: block;
                height: 100%;
                text-decoration: none;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content:space-around;
                color: black;
                font-family: $motif-ff2;
                position: relative;
                @include pc{
                    &:hover{
                        box-shadow: 1px 1px 5px gray;
                        transform: scale(1);
                        transition: all 0.3s;
                        .hover-right-icon{
                            color: white;
                            bottom: 50%;
                            font-size: 50px;
                            display:block ;
                            transform: scale(1);
                            transition: all 0.5s;
                        }
                        img{
                           filter: blur(3px);
                           object-fit: cover; 
                        }
                    }
                    &:active{
                        box-shadow: 1px 1px 7px black;
                    }
                }
                .hover-right-icon{
                    color: white;
                    position: absolute;
                    bottom: 20%;
                    left: 0;
                    right: 0;
                    transform: scale(0);
                    transition: all 0.5s;
                }
            }
            .commodity-banner1,.commodity-banner2{
                height: 80%;
                object-fit: contain; 
            }
            p{
                margin-bottom: 10px;
                @include pc{
                    font-size: $motif-fz1;
                }
            }
            
        }
    }
}


.index-inner{
    text-align: center;
    font-size: 35px;
    color: red;
    padding: 20px 0;
    @include ipad-pro{
        text-align: left;
        padding: 20px 100px;
    }
    p{
        font-size: 14px;
        text-align: left;
        color: black;
        font-family: $motif-ff2;
        margin: 20px 0;
        line-height: 20px;
        padding: 20px 10px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            left: 3%;
            right: 3%;
            top: 0;
            height: 1px;
            background: $motif-color1;
            @include ipad-pro{
                left: 0%;
                right: 0%;
            }
        }
        @include ipad-pro{
            font-size: 16px;
            line-height: 24px;
            padding:20px 0;
        }
    }
}



.mobile-banner{
    object-fit: contain !important;
    object-position: center center !important ;
}


